<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>home-nysl</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="nysl-mobile.css">
</head>

<body>
  <div id="app">
    <div id="hero-header-background">
    </div>
    <div id="hero-header">
      <h1>Northside <br> Youth Soccer <br> League</h1>
    </div>
    <div id="nav">
      <button id="logo-container" class="active">
        <img id="logo" alt="nysl logo" src="nysl_logo.png" />
      </button>
      <div id="nav-links">
        <button>Game Schedule</button>
        <button>Game Locations</button>
        <button>Messages</button>
      </div>
      <button id="hamburger-container">
        <img id="hamburger" alt="nav" src="hamburger_icon.png" />
      </button>
    </div>
    <div id="schedule-info">
      <h2>Game Schedule</h2>
      <button class="filter-header-collapsed" @click=closeFilter v-bind:class="{'filter-header-expanded':!filterCollapsed}">
        Choose team&nbsp;
        <span class="filter-arrow" v-if="filterCollapsed"> &#9658; </span>
        <span class="filter-arrow" v-if="!filterCollapsed"> &#9660; </span>
      </button>
      <div id="filter-body" v-if="!filterCollapsed">
        <div id="checkbox-container" v-for="team in gameInfo.teams">
          <div class="checkbox-option">
            <input type="checkbox" :value="team.division + ' ' + team.name" v-model="checkedNames" @click="filterGames();">
            <label>{{team.division+" "}}{{team.name}}</label>
          </div>
        </div>
      </div>
      <div id="schedule-container">
        <div v-for="(game,index) in filteredGames" class="game-info">
          <div class="game-overview" v-bind:class="{expanded: expandedGames.includes(index)}">
            <div class="date bold">
              {{ game.date }}
            </div>
            <div class="time">
              {{ game.time }}
            </div>
            <div class="match">
              {{ game.team + " vs "}}{{game.opponent}}
            </div>
            <button @click="toggleGameExpansion(index)">
              <span class="location-pointer" v-if="!expandedGames.includes(index)">&#9658;</span>
              <span class="location-pointer" v-if="expandedGames.includes(index)">&#9660;</span>
            </button>
          </div>
          <div class="game-location collapsed" v-bind:class="[{expanded: expandedGames.includes(index)}]">
            Location: {{ game.location }}
          </div>
        </div>
        <div v-for="(date,index) in dateArray" class="date-info" v-if="filteredGames.length==0">
          <div class="date-date bold"> {{ date.date }} </div>
          <div class="time-block">
            <div class="date-time"> {{ date.morning.time }} </div>
            <div class="time-info">
              <div class="time-matches">
                <div>{{ date.morning.team1 + " vs "}}{{ date.morning.opponent1 }}</div>
                <div>{{ date.morning.team2 + " vs "}}{{ date.morning.opponent2 }}</div>
              </div>
              <div class="date-location collapsed" v-bind:class="[{expanded:expandedMorningDates.includes(index)}]">
                Location: {{ date.morning.location }}
              </div>
            </div>
            <button @click="toggleDateExpansion(index, date.morning.time)">
              <span class="location-pointer-date" v-if="!expandedMorningDates.includes(index)">&#9658;</span>
              <span class="location-pointer-date" v-if="expandedMorningDates.includes(index)">&#9660;</span>
            </button>
          </div>
          <div class="time-block">
            <div class="date-time"> {{ date.afternoon.time }} </div>
            <div class="time-info">
              <div class="time-matches">
                <div>{{ date.afternoon.team1 + " vs "}}{{ date.afternoon.opponent1 }}</div>
                <div>{{ date.afternoon.team2 + " vs "}}{{ date.afternoon.opponent2 }}</div>
              </div>
              <div class="date-location collapsed" v-bind:class="[{expanded:expandedAfternoonDates.includes(index)}]">
                Location: {{ date.afternoon.location }}
              </div>
            </div>
            <button @click="toggleDateExpansion(index, date.afternoon.time)">
              <span class="location-pointer-date" v-if="!expandedAfternoonDates.includes(index)">&#9658;</span>
              <span class="location-pointer-date" v-if="expandedAfternoonDates.includes(index)">&#9660;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>

</html>
